### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(file)
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [2]:
# Check data for rows with null cells
purchase_data_df.count()

Purchase ID    780
SN             780
Age            780
Gender         780
Item ID        780
Item Name      780
Price          780
dtype: int64

In [3]:
purchase_data_df.shape

(780, 7)

## Player Count

* Display the total number of players

In [4]:
#Player count is the numbers of uniqe SN
SN_unique = len(purchase_data_df["SN"].unique())
total_players_df = pd.DataFrame({"Total Players":[SN_unique]})

total_players_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
#Unique no of items
item_count=len(purchase_data_df["Item Name"].unique())

#Average price of purchased items
average_price=purchase_data_df["Price"].mean()

# Number of purchases
purchase_count=len(purchase_data_df["Purchase ID"].unique())

#Total sales
total_sales =purchase_data_df["Price"].sum()

#item_count
#average_price
#purchase_count
#total_sales

#Summary in a dataFrame
summary_df =pd.DataFrame({"Number of Unique Item":[item_count],
                         "Average Price": average_price,
                         "Number of Purchases" : purchase_count,
                         "Total Revenue": total_sales})
summary_df

   Number of Unique Item  Average Price  Number of Purchases  Total Revenue
0                    179       3.050987                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [6]:
# Get a dataframe with no duplicates of SN
unique_SN_df= purchase_data_df.drop_duplicates(subset=["SN"])
unique_SN_df.shape

(576, 7)

In [7]:
unique_SN_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [8]:
#gender_group = purchase_data_df.groupby(["Gender"])
#gender_count_df = gender_group.count
#print(gender_count_df)

# The computations on of percentage and counts will be on the dataframe with uniqe players
gender_count = unique_SN_df["Gender"].value_counts()
gender_count_df = pd.DataFrame({"Total Count":gender_count})
percentage_of_players= gender_count_df["Total Count"]/gender_count_df["Total Count"].sum()

#Add percentage_of_players to the gender_count_df
gender_count_df["Percentage of Players"] =percentage_of_players

#Format the Percentage of Players column
gender_count_df["Percentage of Players"]=gender_count_df["Percentage of Players"].map("{:,.2%}".format)

gender_count_df

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [28]:
purchase_data_df.groupby(["Gender","SN"]).Price.agg(["count", "mean","sum","median"])

                                     count   mean   sum  median
Gender                SN
Female                Adastirin33        1  4.480  4.48   4.480
                      Aerithllora36      2  4.320  8.64   4.320
                      Aethedru70         1  3.540  3.54   3.540
                      Aidain51           1  3.450  3.45   3.450
                      Aiduesu86          1  4.480  4.48   4.480
...                                    ...    ...   ...     ...
Other / Non-Disclosed Lirtim36           1  1.330  1.33   1.330
                      Maluncil97         2  2.640  5.28   2.640
                      Rairith81          1  2.220  2.22   2.220
                      Siarithria38       2  3.455  6.91   3.455
                      Sundim98           1  4.750  4.75   4.750

[576 rows x 4 columns]

In [27]:
purchase_data_df.groupby("Gender").Price.agg(["count", "mean","sum","median"])

                       count      mean      sum  median
Gender
Female                   113  3.203009   361.94    3.45
Male                     652  3.017853  1967.64    3.09
Other / Non-Disclosed     15  3.346000    50.19    3.45

In [11]:
# 
data_gender_group_df=purchase_data_df.groupby("Gender")
comparison_df=data_gender_group_df.mean()
comparison_df

                       Purchase ID        Age    Item ID     Price
Gender
Female                  379.380531  21.345133  85.477876  3.203009
Male                    392.516871  22.917178  93.095092  3.017853
Other / Non-Disclosed   334.600000  24.200000  80.800000  3.346000

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [29]:
# Define Bins
bins =[0, 9, 14, 19, 24, 29, 34, 40,100 ]

In [31]:
#Group names
bin_names=["<10", "10 to 14", "15 to 19", "20 to 24", "25 to 29", "30 to 34", "35 to 39", "40+"]

In [32]:
pd.cut(purchase_data_df["Age"], bins, labels=bin_names)

0      20 to 24
1      35 to 39
2      20 to 24
3      20 to 24
4      20 to 24
         ...
775    20 to 24
776    20 to 24
777    20 to 24
778         <10
779    20 to 24
Name: Age, Length: 780, dtype: category
Categories (8, object): [<10 < 10 to 14 < 15 to 19 < 20 to 24 < 25 to 29 < 30 to 34 < 35 to 39 < 40+]

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame