### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(file)
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [2]:
# Check data for rows with null cells
purchase_data_df.count()

Purchase ID    780
SN             780
Age            780
Gender         780
Item ID        780
Item Name      780
Price          780
dtype: int64

In [3]:
purchase_data_df.shape

(780, 7)

## Player Count

* Display the total number of players

In [4]:
#Player count is the numbers of uniqe SN

SN_unique = len(purchase_data_df["SN"].unique())
SN_unique

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
#Unique no of items
item_count=len(purchase_data_df["Item Name"].unique())

#Average price of purchased items
average_price=purchase_data_df["Price"].mean()

# Number of purchases
purchase_count=len(purchase_data_df["Purchase ID"].unique())

#Total sales
total_sales =purchase_data_df["Price"].sum()

#item_count
#average_price
#purchase_count
#total_sales

#Summary in a dataFrame
summary_df =pd.DataFrame({"Number of Unique Item":[item_count],
                         "Average Price": average_price,
                         "Number of Purchases" : purchase_count,
                         "Total Revenue": total_sales})
summary_df

   Number of Unique Item  Average Price  Number of Purchases  Total Revenue
0                    179       3.050987                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [6]:
# Get a dataframe with no duplicates of SN
unique_SN_df= purchase_data_df.drop_duplicates(subset=["SN"])
unique_SN_df.shape

(576, 7)

In [7]:
unique_SN_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [8]:
# The computations on of percentage and counts will be on the dataframe with uniqe players
gender_count = unique_SN_df["Gender"].value_counts()
gender_count_df = pd.DataFrame({"Total Count":gender_count})
percentage_of_players= gender_count_df["Total Count"]/gender_count_df["Total Count"].sum()

#Add percentage_of_players to the gender_count_df
gender_count_df["Percentage of Players"] =percentage_of_players

#Format the Percentage of Players column
gender_count_df["Percentage of Players"]=gender_count_df["Percentage of Players"].map("{:,.2%}".format)

gender_count_df

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [15]:
groupby_person_SN_df=unique_SN_df.groupby(["SN"])

In [19]:
groupby_person_SN_df["Gender"].value_counts()

SN             Gender
Adairialis76   Male      1
Adastirin33    Female    1
Aeda94         Male      1
Aela59         Male      1
Aelaria33      Male      1
                        ..
Yathecal82     Female    1
Yathedeu43     Male      1
Yoishirrala98  Female    1
Zhisrisu83     Male      1
Zontibe81      Male      1
Name: Gender, Length: 576, dtype: int64

In [ ]:
#GroupBy person(SN) to get the uniqe persons in SN Column 
groupby_person_SN_df=unique_SN_df.groupby(["SN"])
print(groupby_person_SN_df)
groupby_person_SN_df.count().head()

In [ ]:
groupby_person_SN_df(["SN"]).sum()[["Purchase ID", "Age", "Gender", "Item ID", "Item Name", "Price"]]

In [ ]:
purchase_data_df.groupby(["Gender","SN"]).Price.agg(["count", "mean","sum","median"])

In [ ]:
purchase_data_df.groupby("Gender").Price.agg(["count", "mean","sum"])

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [ ]:
# Define Bins
bins =[0, 9, 14, 19, 24, 29, 34, 40,100 ]

In [ ]:
#Group names
bin_names=["<10", "10 to 14", "15 to 19", "20 to 24", "25 to 29", "30 to 34", "35 to 39", "40+"]
#bin_names=["A", "B", "C", "D", "E", "F", "G", "H"]

In [ ]:
purchase_data_df["Age Group"]=pd.cut(purchase_data_df["Age"], bins, labels=bin_names)
purchase_data_df.head()

In [ ]:
purchase_data_df.groupby("Age Group").Price.agg(["count"])

In [ ]:
purchase_data_df.groupby("Gender").Price.agg(["count", "mean","sum"])

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame